* {
  box-sizing: border-box; }

html {
  font-family: 'Syncopate', sans-serif;
  font-size: 15px; }

body {
  padding: 0;
  margin: 0;
  padding-top: 5rem;
  background: #171D3C url("../img/test11.gif") no-repeat top right;
  display: flex;
  flex-direction: row; }
  body .intro {
    border: 1px solid white;
    width: 20%;
    transform: translate(20%, 0); }
  body .root {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 29%;
    transform: translate(45.5%, 0);
    color: white;
    font-size: .8rem;
    padding: 2rem 1rem;
    border-radius: .5rem;
    background: linear-gradient(#A6ACC7, #221344);
    box-shadow: 0 0 .5rem #FFF881; }
    body .root .rocket_container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      position: relative;
      overflow: hidden; }

.intro_header {
  border: 1px solid white;
  margin: 0;
  padding: .5rem;
  color: white;
  font-size: 1.5rem;
  text-align: center; }

.intro_header_paragraph {
  color: white;
  padding: .5rem;
  line-height: 1.5; }

.left_container {
  width: 50%;
  color: white;
  padding: .25rem;
  height: 38rem;
  position: absolute;
  left: -51%;
  background: linear-gradient(#A6ACC7, #221344);
  transition: all .6s linear;
  z-index: 1; }
  .left_container .rocket_info, .left_container .rocket_seats {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between; }
    .left_container .rocket_info .space_craft_info_list, .left_container .rocket_info .seats_info_list, .left_container .rocket_seats .space_craft_info_list, .left_container .rocket_seats .seats_info_list {
      border: 1px solid white;
      padding: .5rem;
      text-align: left; }

.rocket_info_header, .rocket_seats_header {
  background: #231445;
  margin: 0;
  padding: .4rem; }

.left_container-active {
  left: 0; }

.close_stats {
  width: 3.5rem;
  height: 3.5rem;
  margin: 0 auto;
  background: url("../img/test3.svg");
  margin-top: .5rem; }

.middle_container {
  width: 29rem;
  background: #A5ABC6 url("../img/background.jpg") no-repeat bottom;
  background-size: contain;
  position: relative;
  height: 38rem;
  border-radius: .5rem; }
  .middle_container .statsAndTicketButton_container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 20%; }
  .middle_container .button_container {
    width: 100%;
    padding: 0 .5rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%; }
  .middle_container .vehicle_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%; }

.stats_button {
  background: url("../img/test1.svg") no-repeat center; }

.ticket_button {
  background: url("../img/tickets.svg") no-repeat center; }

.stats_button, .ticket_button {
  width: 5rem;
  height: 4rem; }

.space_craft_container {
  width: 24%;
  height: 7rem; }
  .space_craft_container .space_craft {
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: block;
    transform: translate(0, 9%);
    transition: all 2s linear; }
  .space_craft_container .space_craft_takeOff {
    transform: translate(0, -400%); }

.landing_pad_container {
  width: 24%;
  height: 7rem; }
  .landing_pad_container .landing_pad {
    width: 100%;
    height: 100%;
    transform: translate(0, -20%); }

.news_menu {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  bottom: 1%;
  left: 44%;
  background: url("../img/newsmenu.svg") no-repeat center; }

.left_selection, .right_selection {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  border: 2px outset light-gray; }
  .left_selection .fa, .right_selection .fa {
    color: white; }

.left_selection {
  background: url("../img/mars.svg"); }

.right_selection {
  background: url("../img/jupiter.svg"); }

.right_container {
  width: 50%;
  height: 38rem;
  padding: .25rem;
  position: absolute;
  right: -51%;
  background: linear-gradient(#A6ACC7, #221344);
  transition: all .6s linear;
  z-index: 1; }
  .right_container .ticket_container {
    border: 1px solid white; }
    .right_container .ticket_container .ticket_info {
      width: 100%; }

.ticket_total_container {
  border: 1px solid white; }
  .ticket_total_container .ticket_total_header {
    margin: 0;
    text-align: center; }
  .ticket_total_container .total_price {
    border: 1px solid white;
    height: 17rem;
    padding: 0; }
  .ticket_total_container .purchase_button {
    display: block;
    margin: 0 auto; }

.total_price_info {
  border: 1px solid white;
  list-style-type: none;
  padding: .5rem; }

.right_container-active {
  right: 0; }

.close_tickets {
  height: 3.5rem;
  width: 3.5rem;
  margin: 0 auto;
  background: url("../img/test3.svg");
  margin-top: 1rem; }

.right_container-active {
  right: 0; }

.nasa_news_container {
  border: 1px solid white;
  width: 100%;
  height: 38rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: .5rem;
  background: linear-gradient(#A6ACC7, #221344);
  position: absolute;
  top: 100%;
  transition: all .6s linear; }
  .nasa_news_container .nasa_news_nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin-top: 0; }
  .nasa_news_container .nasa_news {
    border: 1px solid white;
    width: 96%;
    height: 30%;
    display: none; }

.news_of_mars {
  margin: .5rem 0; }

.nasa_news_nav_item {
  border: 1px solid white;
  background: #231445;
  width: 33%;
  text-align: center;
  padding: .5rem; }
  .nasa_news_nav_item:hover, .nasa_news_nav_item:active {
    cursor: pointer; }

.picOfDay-active {
  width: 100%;
  height: 100%; }

.nasa-news-container-active {
  top: 0; }

.close_news_menu {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  bottom: 5%;
  left: 41.5%;
  background: url("../img/test3.svg") no-repeat center; }

/*# sourceMappingURL=style.css.map */
