* {
	box-sizing: border-box;
}
html {
	font-size: 15px;
}
body {
	padding: 0;
	margin: 0;
}
.root {
	display: flex;
	flex-direction: row;
	width: 55%;
	margin: 0 auto;
	background: #7C2143;
	padding: 5rem .25rem 0;
	border-radius: 2rem;
}