.right_container {
	width: 50%;
	height: 38rem;
	padding: .25rem;
	position: absolute;
	right: -51%;
	background: linear-gradient(#A6ACC7, #221344);
	transition: all .6s linear;
	z-index: 1;
	.ticket_container {
		.ticket_info {
			width: 100%;
		}
	}
	
}
.ticket_total_container {
	border: 1px solid white;
	.ticket_total_header {
		margin: 0;
		text-align: center;
	}
	.total_price {
		border: 1px solid white;
		height: 17rem;
		padding: 0;
	}
	.purchase_button {
		display: block;
		margin: 0 auto;
	}
}
.total_price_info {
	border: 1px solid white;
	list-style-type: none;
	padding: .5rem;
}
.right_container-active {
	right: 0;
}
.close_tickets {
	height: 3.5rem;
	width: 3.5rem;
	margin: 0 auto;
	background: url('../img/test3.svg');
	margin-top: 1rem;
}