$dark-blue: #2980b9;
$light-blue: #3498db;
$linkedin-blue: #0077B5;
$green: #32CD32;
$black: #000000;
$white: #ffffff;
$light-grey: #ecf0f1;
$medium-grey: #bdc3c7;
$dark-grey: #7f8c8d;

$line-height: 1.5;

$paragraph-font: 'Roboto', sans-serif;
$heading-font: 'Raleway', sans-serif;
$line-height: 1.5;

$small-font: .5rem;
$medium-font: 1rem;
$large-font: 1.5rem;

$small-padding: .5rem;
$medium-padding: 1rem;
$large-padding: 1.5rem;

$small-margin: .5rem;
$medium-margin: 1rem;
$large-margin: 1.5rem;

$small-radius: .5rem;
$medium-radius: 1rem;
$large-radius: 1.5rem;

